/* shortcodes */
.col {float:left;width:100%;padding:5px 10px;}
.col.boxed {border:1px solid #eee;background-color:#fff;padding:15px;position:relative;text-align:center;}
.col.boxed img {padding:0px;}
.col.centered-text {text-align:center;}

.col.span_6 {width:50%;}
.col.span_4 {width:33.333333%;}
.col.span_8 {width:66.666666%;}
.col.span_3 {width:25%;}
.col.span_9 {width:75%;}
.col.span_2 {width:16.666666%;}
.col.span_10 {width:83.333333%;}

.divider-border {
	margin: 35px 0px 35px 0px;
	border-bottom: 1px solid #ddd;
}

.dropcap {display: block;float:left;width:40px;height:40px;padding:0;margin:0 8px 0 0;font-size:24px;line-height:40px;background:#252525;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;color:#fff;text-align:center;text-shadow:none;}

.bw-regular-title {}
.bw-regular-title.center {text-align:center;}

.bw-button {display:inline-block;text-decoration:none;color:#000;border:4px solid #000;font-size:14px;padding:13px 30px;position:relative;font-weight:500;text-transform:uppercase;top:-3px;margin-bottom:10px;opacity:1;background-color:#fff;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;}
.bw-button.small {font-size:12px;padding:5px 30px;}
.bw-button.medium {padding:8px 30px;font-size:15px;}
.bw-button.large {font-size:16px;padding:12px 40px;}
.bw-button:hover {background-color:#000;color:#fffd82;}

.bargraph {text-align:left;margin:0px;	}
.bargraph li {list-style:none;}
.bargraph li:last-child span {margin-bottom:0px;}
.bargraph li .bar-wrap {margin-bottom:13px;border-bottom:1px solid #ccc;padding-bottom:1px;}
.bargraph li span {height:12px;width:0px;display:block;background-color:#fffd82;}
.bargraph li p {color:#000;padding-bottom:5px;margin-bottom:0;}
.bargraph li span {position:relative;}
.bargraph li span strong {position:absolute;right:-34px;top:-1px;color:#000;line-height:12px;font-size:13px;opacity:0;display:block;font-weight:300;font-family:'sabadoregular';transition:opacity 3.8s;-moz-transition:opacity 3.5s;-webkit-transition:opacity 3.8s;}
.bargraph li span.visible strong {opacity:1;}
.bargraph li span strong em {font-size:13px;}
.bargraph li span strong.full:after {left: 15px;}

.toggle {float:left;width:100%;}
.toggle .toggle-title {float:left;width:100%;padding:3px 0 5px 22px;border-bottom:1px solid #eee;font-size:20px;background:url(../img/sprite.png) no-repeat 0 -50px;cursor:pointer;}
.toggle .toggle-content {display:none;float:left;width:100%;padding:7px 10px 10px 20px;}
.toggle.active .toggle-content {display:block;}
.toggle.active .toggle-title {background-position:0 -85px}